<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	</head>
	
	
	<body>
		<div>
			<h2>Login</h2>
		</div>
		<div>
			<form method = "POST">
				<fieldset>
					<label for="user_name">Username</label>
					<input type="text" id ="user_name" name="user" required="required">
					
					<label for="password">Password</label>
					<input type="password" id ="password" name="pass" required="required">
					
					<button>Login</button>
					<a href="forgot.html"><h5>Forgot Password?</h5></a>
					
					<p>Don't have an account? Please <a href="{{ url_for('home') }}">Sign up</a> here.</p>
	
			</fieldset>
			</form>
		</div>
	</body>
</html>